<!DOCTYPE html>
<html>

<head>
	<title>WheelWays</title>
	<title>Wheelway Map</title>
	<!--Bootstrap-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

	<!-- Google fonts API-->
	<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">

	<!--Font awesome CDN-->
	<script src="https://use.fontawesome.com/1de7481f60.js"></script>
	
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

	 <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
	<!--jQuery-->

	<!-- jQuery validate CDN-->
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
	<!-- link to js file for siginin validation-->
	<script src= "js/signinValidation.js"></script>
	
	<!--Leaflet CSS-->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ==" crossorigin="" />

	<!--Leaflet script-->
	<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js" integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log==" crossorigin=""></script>
	
	<!--Leaflet Draw CSS-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>

	<!--Leaflet Draw script-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>

	<!--Leaflet MakiMarkers script-->
	<script src="js/Leaflet.MakiMarkers.js"></script>

	<!--Links to Leaflet Loacte Control Plugin https://github.com/domoritz/leaflet-locatecontrol-->
	<link rel="stylesheet" href="css/L.Control.Locate.min.css">

	<script src="js/L.Control.Locate.min.js"></script>

	<!--Link to style.css-->
	<link rel="stylesheet" href="css/style.css" />

</head>

<body>

	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="/"><img src="/images/wheelway2.png" style="width:300px; height:65px" alt="Wheelway"></a>

		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav ml-auto ">
				{{#if user}}
					<li class="nav-item ">
						<a class="nav-link" href="/dashboard">Dashboard</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/logout">Logout</a>
					</li>
				{{else}}
					<li class="nav-item ">
						<a class="nav-link" href="/signin">Login</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/signup">Register</a>
					</li>
				{{/if}}
	</nav>

	<!--where our other templates will insert-->
		{{{body}}}
		
	<footer class="footer">
        <span class="text-muted"> &copy Wheelway 2017.</span>
    </footer>

</body>

</html>