
<!--Map container-->
<div id="container">
	<div id="header">
		<span>
			<h1 class="display1" >Welcome {{user.firstname}}<a class="btn logoutBtn" href="/logout"><i class="fa fa-sign-out fa-fw"></i> LOGOUT</a></h1>
		</span>
			
	</div>
	<!-- <input type="text" class="form-control" placeholder="&#xF002; Search location..." style="font-family:Arial, FontAwesome" id="searchbox"/> -->
	<div id="map">
		
	</div>
</div>

<!--Script-->
<script>

	// Adding Mapbox Streets tile layer
	var mapBoxAttr = 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
	'Imagery © <a href="http://mapbox.com">Mapbox</a>',
	mapBoxUrl = 'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1Ijoic3p1bmppYyIsImEiOiJjamE1a3FudDY0bHI2MnBwb2d5eTNueWs1In0.kbvyZYrCsTeQP4yvdWCdig';

	
	var grayscale = L.tileLayer(mapBoxUrl, {id:"mapbox.light", attribution : mapBoxAttr}),
		streets = L.tileLayer(mapBoxUrl, {id:"mapbox.streets", attribution : mapBoxAttr}),
		satellite = L.tileLayer(mapBoxUrl, {id:"mapbox.satellite", attribution : mapBoxAttr});
		

	var map = L.map('map',{
		center : [30.307182, -97.755996],
		maxZoom : 18,
		zoom : 14,
		layers : [streets]
	});	

	var baseLayers = {
		"Streets" : streets,
		"Grayscale" : grayscale,
		"Satellite" : satellite,
		
	}
	L.control.layers(baseLayers).addTo(map);

	var locateControls = {
		flyTo : true,
		drawCircle : false,
		enableHighAccuracy: true,
	}
	var lc = L.control.locate(locateControls).addTo(map);
	console.log(lc);
	lc.start();


	//****************************************************************************
	//Code to add search options for the current location
	//import
/*	import{OpenStreetMapProvider} from "leaflet-geosearch";
	const form = document.querySelector('form');
	const input = form.querySelector('input[type="text"]');

	form.addEventListener('submit', async (event) => {
		event.preventDefault();

		const results = await provider.search({ query: input.value });
  	console.log(results); // » [{}, {}, {}, ...]
	});
	// setup 
	const provider = new OpenStreetMapProvider();
	// search
	const results = await provider.search({query: input.value});*/


	//****************************************************************************

	// MakiMarkers (Map icons)
  // ** Must npm install for this to work
  L.MakiMarkers.accessToken 
  = "pk.eyJ1Ijoic3p1bmppYyIsImEiOiJjamE1a3FudDY0bHI2MnBwb2d5eTNueWs1In0.kbvyZYrCsTeQP4yvdWCdig";

  var obstructionIcon = L.MakiMarkers.icon({icon: "roadblock", color: "#f44336", size: "l"});
  var supportIcon = L.MakiMarkers.icon({icon: "disability", color: "#4caf50", size: "l"});

// Creating temp layer to store new features ** I think this is unecessary; keeping here just in case.
	// var drawnItems = new L.FeatureGroup();
	// map.addLayer(drawnItems); 

    // Red marker (obstruction)
    L.Draw.MarkerR = L.Draw.Marker.extend({
    	initialize: function (map, options) {
    		this.type = 'R';

    		L.Draw.Feature.prototype.initialize.call(this, map, options);
    	},

    	addHooks: function () {
    		L.Draw.Marker.prototype.addHooks.call(this);

    		if (this._map) {
    			this._tooltip.updateContent({ text: 'Click to place an obstruction marker.' });
    		}
    	}
    });

	// Green marker (support)
	L.Draw.MarkerG = L.Draw.Marker.extend({
		initialize: function (map, options) {
			this.type = 'G';

			L.Draw.Feature.prototype.initialize.call(this, map, options);
		},

		addHooks: function () {
			L.Draw.Marker.prototype.addHooks.call(this);

			if (this._map) {
				this._tooltip.updateContent({ text: 'Click to place a support marker.' });
			}
		}
	});

	// Hacking up L.DrawToolbar.getModeHandlers to include the 2 new versions of the marker handler
	L.DrawToolbar.include({
		getModeHandlers: function (map) {
			return [
			{
				enabled: true,
				handler: new L.Draw.MarkerR(map, { icon: obstructionIcon }),
					// Leaflet default blue marker: { icon: new L.Icon.Default() })
					title: 'Obstruction'
				},
				{
					enabled: true,
					handler: new L.Draw.MarkerG(map, { icon: supportIcon }),
					// Leaflet default blue marker: { icon: new L.Icon.Default() })
					title: 'Support'
				},
				];
			}
		});

	// Creating draw controls and toolbar
	var drawControl = new L.Control.Draw({
		draw: {
			position: 'topleft',
		},
		edit: false
	});
	map.addControl(drawControl);

	var markers = [];

// Custom functions upon 'edit' (when user clicks map to place marker)
map.on('draw:created', function(e) {  

	var marker;
	var coords = e.layer._latlng;
	var id;
	var markerTypesForm;

	if (markers.length < 1) {
		id = 0
	} else {
		id = markers[markers.length - 1]._id + 1
	};  	

		// console.log("Marker layer type: " + e.layerType);
		// console.log(this);


		switch (e.layerType) {
			case 'R': // If a red (R) marker is placed
			marker = L.marker(coords, { icon: obstructionIcon });
			markerTypesForm = 
			'<div class="form-group">'+
			'<label class="control-label col-sm-5"><strong>Obstruction Type: </strong></label>'+
			'<select class="form-control" id="marker-type" name="marker-type">'+
			'<option value="barrier">Barrier</option>'+
			'<option value="construction">Construction</option>'+
			'<option value="curb">Curb</option>'+
			'<option value="stairs">Stairs</option>'+
			'<option value="rough-road">Rough road</option>'+
			'</select>'+ 
			'</div>'
			break;

			case 'G': // If a green (G) marker is placed
			marker = L.marker(coords, { icon: supportIcon });
			markerTypesForm = 
			'<div class="form-group">'+
			'<label class="control-label col-sm-5"><strong>Support Type: </strong></label>'+
			'<select class="form-control" id="marker-type" name="marker-type">'+
			'<option value="curb-cut">Curb cut</option>'+
			'<option value="ramp">Ramp</option>'+
			'<option value="elevator">Elevator</option>'+
			'</select>'+ 
			'</div>'		
		};

		// Old code; keeping here just in case
    	// var coords = e.layer._latlng;
    	// marker = drawnItems.addLayer(e.layer);

    	var popupContent = 
    	'<form role="form" id="form" enctype="multipart/form-data" class="form-horizontal" onsubmit="addMarker()">'+

	        // Date
	        '<div class="form-group">'+
	        '<label class="control-label col-sm-5"><strong>Date: </strong></label>'+
	        '<input type="date" placeholder="Required" id="date" name="date" class="form-control"/>'+ 
	        '</div>'+

			// Type of marker
			markerTypesForm +

			// Description (optional)
			'<div class="form-group">'+
			'<label class="control-label col-sm-5"><strong>Description (optional): </strong></label>'+
			'<textarea class="form-control" rows="6" id="description" name="description"></textarea>'+
			'</div>'+

			// Location coordinates (not seen)
			'<input style="display: none;" type="text" id="lat" name="lat" value="'+coords.lat.toFixed(6)+'" />'+
			'<input style="display: none;" type="text" id="lng" name="lng" value="'+coords.lng.toFixed(6)+'" />'+

			// Submit & cancel buttons
			'<div class="form-group">'+
			'<div class="col-xs-6"><button type="button" class="btn btn-primary" id="cancel-btn">Cancel</button></div>'+
				// '<div class="col-xs-6"><button type="submit" value="submit" class="btn btn-primary trigger-submit">Submit</button></div>'+
				'<div class="col-xs-6"><button type="submit" value="submit" class="btn btn-primary trigger-submit" id="submit-btn">Submit</button></div>'+
				'</div>'+

				'</form>';

				marker
				.bindPopup(popupContent,
				{
					keepInView: true,
					closeButton: false 
				})
				.addTo(map)
				.openPopup()
				._id = id


				console.log("Marker id: " + marker._id);


		// Cancel form button (deletes marker, does not add to array)
		$("#cancel-btn").click(function() {
			map.removeLayer(marker);
			console.log("Marker canceled; not added to array")
			console.log(markers);
		});

		// Submit form button 
		$("#submit-btn").click(function(e){
			e.preventDefault();

			markers.push(marker)
			console.log("Marker with id " + marker._id + " added to array")
			console.log(markers);

			map.closePopup();

			var date = $("#date").val().trim();
			var markerType = $("#marker-type").val().trim();
			var description = $("#description").val().trim();
			var latString = $("#lat").val().trim();
			var lngString = $("#lng").val().trim();
			var lat = parseFloat(latString);
			var lng = parseFloat(lngString);

			// Make a newPin object
			var newPin = {
				date: date,
				markerType: markerType,
				description: description,
				lat: lat,
				lng: lng
			}; 

			console.log(newPin);

			// Send an AJAX-POST request 
			$.post("/api/new", newPin)
				// On success
				.done(function() {
					console.log("Pin successfully added to database");
				})

		// ** TODO: When user clicks 'Submit' button 
			// Delete the old marker icon 
			// Send back specific custom marker based on the TYPE valye from user input 
				// Send back as argument ?
			// Save the new specific custom marker at the location 
				// Informational pop-up when clicked 
			});

		// ** TODO: When the map loads
			// Display all saved pins 

	});

</script>
