<div id="alertmain">
<div id="alertDiv">
	
	<div class="alert alert-danger" role="alert">
 		Login Failed. Please check your login credentials and try to login again. If not registered, Please register by clicking the signin button 
	</div>
			<a class="btn" href="/signin"><i class="fa fa-map fa-fw"></i> SIGN IN </a>
			<a class="btn" href="/signup"><i class="fa fa-user fa-fw"></i> SIGN UP</a>

</div>
</div>