	<div id="mainDiv">
		<div class="card" >
			<img class="card-img-top cardImg" src="images/loginimg.png" alt="Card image cap">
			<div class="card-body">
				<form id="signin" name="signin" method="post" action="/signin">
					<input class="form-control" type="text" placeholder="&#xf003;     Email address" name="email" style="font-family: FontAwesome " >	
					<input class="form-control" type="password" placeholder="&#xf023;      Password" name="password" style="font-family:FontAwesome">

					<button class="btn" type="submit"><i class="fa fa-map fa-fw"></i> SIGN IN </button>
					<div class="alert alert-info" role="alert">
						<a href="/signup">Not a user? Register.</a>
					</div>
				</form>
				
			</div>
		</div>

	</div>