

<div id="mainDiv">
	<div class="card" >
		<img class="card-img-top cardImg" src="images/signupimg.gif" alt="Card image cap" width="200px">
		<div class="card-body">
			<form id="signup" name="signup" method="post" action="/signup">
				<input class="form-control" type="text" placeholder="&#xf003;     Email address" name="email" style="font-family: FontAwesome" >
				<input class="form-control" type="text" placeholder="&#xf2bd;     First Name" name="firstname" style="font-family: FontAwesome" >	
				<input class="form-control" type="text" placeholder="&#xf2bd;     Last Name" name="lastname" style="font-family:FontAwesome">	
				<input class="form-control" type="password" placeholder="&#xf023;     Password" name="password" style="font-family:FontAwesome">

				<button class="btn" type="submit" value="signup"><i class="fa fa-user fa-fw"></i> SIGN UP </button>
				<div class="alert alert-info" role="alert">
					<a href="/signin">Already a user? Sign In.</a>
				</div>

			</form>

		</div>
	</div>

</div>